
/* 공통부분 */
*{ margin: 0px; padding: 0px; } 
*{ box-sizing: border-box;}
li{ list-style-type: none; } 


/* 헤더 */
.header{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.membermenu{
    display: flex;
    justify-content: flex-end;
    margin : 20px 0px;
    font-size: 11px;
}

.membermenu > li{
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: bold;
}

.menu > li{
    margin-left: 60px;
}


/* 메인 */
.mainimg{
    width: 100%;
}

.main{
    width: 1280px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.sidecontent{
    width: 250px;
}

.sidecontent > h3{
    background-color: grey;
    color: white;
    font-size: 16px;
    padding: 6px;
}

.sidecontent ul > li{
    font-size: 14px;
    padding: 6px;
    border-bottom: 1px solid gray;
}

.maincontent{
    width: 1000px;
}

.maincontent > h3{
    font-size: 18px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.maincontent > p{
    font-size: 14px;
    margin: 2px 0px;
}

.maincontent > img{
    display: block;
    margin: 0 auto;
}

.maincontent > ul > li{
    font-size: 14px;
    margin: 2px 0px;
}


/* 푸터 */
.footer{
    background-color: black;
}

.footermain{
    width: 1280px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.leftfooter{
    height: 62px;
    margin-top: 8px;
}

.rightfooter > li{
    font-size: 12px;
    margin: 5px 0px;
}