/* 
    [CSS 기본문법]
    - 선택자{속성명 : 속성값; 속성명2 : 속성값2;}

    [선택자]
    - 꾸미기할 대상을 선택하는 연산자.
    
    1. 종류
        1. *{속성명 : 속성값;}
        2. 마크업명{속성명 : 속성값;}
        3. .클래스명{속성명 : 속성값;}
        4. #아이디명{속성명 : 속성값;}

    2. 속성명이 중복일 때 적용 우선순위
        - 1순위 : #아이디   2순위 : .클래스   3순위 : 마크업    4순위 : *
        - 선택지가 동일한 경우는 작성순으로 아래에 있는 속성명이 최종 적용된다.


    [속성명]
    - css언어가 제공하는 꾸미기 이름
    - 사용가능한 속성명과 속성값은 정해져있다.
    - 종류
        1. color : 색상명;      : 글꼴 색상
        2. font-size : 크기px   : 글꼭 크기
        
*/

h3{ color: brown; }

/* 1. 전체 선택자 */
*{font-size: 10px;}

/* 2. 마크업 선택자 */
p{color: darkgreen;}

/* 3. class 속성값 선택자 */
.구역1번{color: orange;}

/* 4. id 속성값 선택자 */
#구역2번{color: blueviolet;}



.제목구역{
    /* 1. 글꼴 속성 */
    font-family: "궁서", "굴림";

    /* 2. 글꼴 크기 */
    font-size: 30px;

    /* 3. 글꼴 기울기 */
    font-style: italic;

    /* 4. 글꼴 두께 */
    font-weight: bold;
}

.내용구역{
    /* 5. 글꼴 색상 */
    color: gray;

    /* 6. 단어간격 : 어간 */
    word-spacing: 10px;

    /* 7. 글자간격 : 자간*/
    letter-spacing: 5px;

    /* 8. 줄간격, %단위, 기본값 : 150%, 행간 */
    line-height: 170%;
}

.글쓴이구역{
    /* 9. 내용물 가로 정렬, left/right/center */
    text-align: center;

    /* 10. underlint : 밑줄  overline : 윗줄  line-through : 취소선 */
    text-decoration: underline overline line-through;

    /* 11. 내용물 그림자 - x축 y축 흐림정도 색상 */
    text-shadow: 1px 1px 1px red;
}


