/* 
    - display : flex 속성
    1. flex-wrap : nowrap/wrap
        - nowrap : 만일 하위 요소들이 부모 요소보다 크면 하위요소의 크기를 자동맞춤
        - wrap : 만일 하위 요소들이 부모 요소보다 크면 자동으로 줄바꿈 처리

    2. flex-driection : row/column
        - row : 하위 요소들을 세로 배치
        - column : 하위 요소들을 세로 배치

    3. justify-content : flex-start / flex-end / center
        - flex-start : [기본값] 하위 요소들을 왼쪽 정렬
        - flex-end : [기본값] 하위 요소들을 오른쪽 정렬
        - center : [기본값] 하위 요소들을 가운데 정렬

    - 브라우저(크롬/엣지) 에서 F12(개발도구)의 해당하는 요소 CSS에서 flexbox 편집기 사용
*/


/* .클래스명{속성명 : 값;} */
.box{
    /* 구역 테두리 속성 */
    border: 1px solid red;
    
    /* 구역 가로 사이즈 */
    width: 100px;
}

.flexbox1{
    border: 1px solid blue;
    width: 250px;
    /* display 속성의 flex : 하위 요소들을 배치하는 방법 제공 */
    display: flex;
    /* 만일 하위 요소들이 부모 요소보다 크면 하위요소의 크기를 자동맞춤 */
    flex-wrap: nowrap;
}

.flexbox2{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    /* 만일 하위 요소들이 부모 요소보다 크면 자동으로 줄바꿈 처리 */
    flex-wrap: wrap;
}

.flexbox3{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    flex-direction: row;    /* (기본값) 하위 요소들을 가로 배치 */
}

.flexbox4{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    flex-direction: column; /* 하위 요소들을 세로 배치 */
}

.flexbox5{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    justify-content: flex-start;    /* [기본값] 하위 요소들을 가로 왼쪽 정렬 */
}

.flexbox6{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    justify-content: flex-end;    /* [기본값] 하위 요소들을 가로 오른쪽 정렬 */
}

.flexbox7{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    justify-content: center;    /* [기본값] 하위 요소들을 가운데 정렬 */
}

.flexbox8{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;    /* 양쪽 긑에 여백없이 사이 여백 균등 정렬 */
}

.flexbox9{
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;    /* 양쪽 끝에 여백은 사이 여백 50% 하고 사이 여백을 균등 정렬 */
}

.flexbox10{
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;    /* 양쪽 끝에 여백과 사이 여백을 균등하게 정렬 */
}

