*{background-color: lightpink;}

.top{
    border: 2px solid white;
    width: 250px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 6px;
    text-align: center;
    font-weight: bold;
}

p{
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
    border-radius: 1000px;
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.box{
    width: 250px;
    height: 40px;
    background-color: skyblue;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}